<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="CATALINA_HOME" value="/usr/local/apache-tomcat" />
  <property name="LOG_HOME" value="${CATALINA_HOME}/logs" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_HOME}/impruth.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_HOME}/impruth-%d{yyyyMMdd}.log</FileNamePattern>
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level[%thread] %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
  <logger name="org.hibernate" level="WARN" />
  <logger name="org.hibernate.mapping.RootClass" level="ERROR" />
    
  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>  
</configuration>