<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <!--
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
   -->
   <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="MYSQL" />
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>

    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/bookdb" />
        <property name="username" value="bookadmin" />
        <property name="password" value="passwrd" />
    </bean>

<bean id="sessionFactory"
    class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
    factory-bean="entityManagerFactory" factory-method="getSessionFactory">
</bean>
<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
	    <property name="sessionFactory" ref="sessionFactory" />
</bean>

    <bean id="loginService" class="org.mmpp.simplelogin.service.LoginServiceImpl" >
	    <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="ownBookService" class="org.mmpp.impruth.service.OwnBookServiceImpl" >
	    <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean name="mediaService" class="org.mmpp.impruth.service.MediaServiceImpl" >
        <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean name="releaseService" class="org.mmpp.impruth.service.ReleaseServiceImpl" >
        <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="userService" class="org.mmpp.impruth.service.UserServiceImpl" >
	    <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    
    <!--
	<bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="singleSession" value="true"/>
		<property name="flushModeName">
			<value>FLUSH_AUTO</value>
		</property>
	</bean> 
        
    -->
    <bean id="spLoginPageAction" scope="prototype" class="org.mmpp.simplelogin.action.LoginPageAction">
    	<property name="loginService" ref="loginService" />
    </bean>
    
   <bean id="spOwnListPageAction" scope="prototype" class="org.mmpp.impruth.action.OwnListPageAction">
    	<property name="ownBookService" ref="ownBookService" />
    	<property name="releaseService" ref="releaseService" />
    	<property name="userService" ref="userService" />
    </bean>
    
    
	
	<bean name="shelfService" class="org.mmpp.impruth.service.ShelfServiceImpl">
		<property name="mediaService" ref="mediaService" />
	</bean>
	<bean name="hopeService" class="org.mmpp.impruth.service.HopeServiceImpl">
		<property name="mediaService" ref="mediaService" />
	</bean>
	
	<bean id="spListPageAction" scope="prototype" class="org.mmpp.impruth.action.ListPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spDetailPageAction" scope="prototype" class="org.mmpp.impruth.action.DetailPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spDeletePageAction" scope="prototype" class="org.mmpp.impruth.action.DeletePageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spNewPageAction" scope="prototype" class="org.mmpp.impruth.action.NewPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    
    <bean id="spHopePageAction" scope="prototype" class="org.mmpp.impruth.action.HopePageAction">
    	<property name="hopeService" ref="hopeService" />
    </bean>
    
    
    <bean id="spScanBarcodeJsonAction" scope="prototype" class="org.mmpp.impruth.action.ScanBarcodeJsonAction">
    	<property name="releaseService" ref="releaseService" />
    </bean>


</beans>
