<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />


	<bean name="mediaService" class="org.mmpp.impruth.service.MediaServiceImpl"/>
	
	<bean name="shelfService" class="org.mmpp.impruth.service.ShelfServiceImpl">
		<property name="mediaService" ref="mediaService" />
	</bean>
	<bean name="hopeService" class="org.mmpp.impruth.service.HopeServiceImpl">
		<property name="mediaService" ref="mediaService" />
	</bean>
	
	<bean id="spListPageAction" scope="prototype" class="org.mmpp.impruth.action.ListPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spDetailPageAction" scope="prototype" class="org.mmpp.impruth.action.DetailPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spDeletePageAction" scope="prototype" class="org.mmpp.impruth.action.DeletePageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    <bean id="spNewPageAction" scope="prototype" class="org.mmpp.impruth.action.NewPageAction">
    	<property name="mediaService" ref="mediaService" />
    </bean>
    
    <bean id="spHopePageAction" scope="prototype" class="org.mmpp.impruth.action.HopePageAction">
    	<property name="hopeService" ref="hopeService" />
    </bean>

</beans>
